Options -Indexes
DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /trackify/

  # If the file exists, serve it
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  # For everything else, send to index.html (React Router)
  RewriteRule ^ index.html [L]
</IfModule>
